@charset "UTF-8";
.ts_linear { -moz-transition:all 0.2s linear; -webkit-transition:all 0.2s linear; -o-transition:all 0.2s linear; transition:all 0.2s linear; }
input[type="button"]:hover.ts_linear,
input[type="submit"]:hover.ts_linear{
	background: #DD8218;
}
.sgmain_1200 {
	width: 1200px;
	margin: 0px auto;
}

.sg-r-bg {
	position: absolute;
	right: -4px;
	bottom: -403px;


}
.blog_left {
	width: 900px;
	height: 425px;
	float: left;
	border: 1px solid #DBD7D6;
}
.sg-photo {
	padding-top: 50px;
	padding-left: 35px;
	width: 266px;
	float: left;
}
.sg-photo img {
	width: 230px;
	height: 300px;
	overflow: hidden;
}

.sg-photo .span1 {
	font-size: 12px;
	padding-top: 15px;
	padding-top: 10px;
	width: 230px;
	text-align: center;
}

.sg-photo .span1 i {
	color: #F26D00;
	font-size: 12px;
}

.sg-blogdate {
	width: 560px;
	height: 300px;
	padding-top: 67px;
	padding-left: 10px;	
	float: left;
}
.sg-name {
	font-weight:bold ;
	font-size: 18px;

}
.sg-zhiwei {
	padding: 1px 4px;
	color: #fff;
	margin-left: 10px;
	background-color: #FB8D0D;
	-moz-border-radius: 5px;      
    -webkit-border-radius: 5px;   
    border-radius:5px; 
}
.sg-zhuangtai {
	padding: 2px 4px;
	margin-left: 17px;
	color: #FB8D0D;
	border: #FB8D0D solid 1px;
	-moz-border-radius: 5px;      
    -webkit-border-radius: 5px;  
    border-radius:5px; 
}



.sg-xiangmu2 {
	margin-top: 10px;
}

.sg-xiangmu2 span {
	
	margin-right: 20px;
	padding-top: 10px;
}

.gkzs {
	padding-top: 7px;
	clear: both;
}

.gkzs img {
	margin-bottom: -3px;
}
.lxfs {
	margin-top: 30px;

}

.zxzx img{
	margin-bottom: -4px;
}
.scfg {
	margin-top: 6px;
}
.scfg span{
	color:#FB8D0D;
	margin-left: 10px; 
}
.sgzx-btn {
	width: 124px;
	height: 22px;
	text-align: center;
	color: #fff;
	margin-top: 17px;
	background-color: #FB8D0D;
	display: inline-block;
	text-decoration: none !important;
}

.blog_right {
	width: 258px;
	height: 405px;
	float: right;
	border: 1px solid #DBD7D6;
	padding: 5px;
}

.blog_right h1 {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 10px;
	position: relative;
}

.blog_right ul {
	width: 250px;
	height: 368px;
	background: url(../img/sgr2_c5.gif) no-repeat;
	overflow: hidden;
}

.blog_right ul li {
	width: 250px;
	height: 20px;
	margin-left: 35px;
	margin-bottom: 21px;
	margin-top: 3px;
	overflow: hidden;
}

/*施工详情*/

		
.notice{width:1200px;
        margin-top: 35px;
		float: left;
    }

.notice-tit{height:40px;
            position:relative;
			font-size:14px;
			}

.notice-tit ul{position:absolute;
               width:1198px;
				border:1px solid #DBD7D6;
           }

.notice-tit li{background:url(../img/sg_r2_c21.gif) no-repeat;
				float:left;
               width:127px;
               height:39px;
               line-height:40px;
               text-align:center;;
               padding:0;
               border-right:1px solid #DBD7D6;}

.notice-tit li.select{background:url(../img/sg_r2_c31.gif) no-repeat;
                      border-bottom-color:#FFF;
                      border-left:1px solid #eee;
                      border-right:1px solid #eee;
                      padding:0;
                      font-weight:bolder;
					  position:relative;
					  }

/*.notice li a:link,.notice li a:visited{
                                               color:#8B8B8B;}
.notice li a:hover{color:#8B8B8B;}*/

.mod {
	width: 1198px;
	min-height: 200px;
	border-right:1px solid #DBD7D6;
	border-left:1px solid #DBD7D6;
	border-bottom:1px solid #DBD7D6;

}


.modli li {
	margin: 0px 25px;
	width: 1116px;
	height: 265px;
	border-bottom: 1px dashed #DBD7D6 ;
}

.mod-left {
	margin-top: 25px;
	width: 288px;
	height: 214px;
	float: left;
}
.mod-right {
	margin-top: 25px;
	width: 790px;
	float: right;
}
.modtitle {
	font: 22px/1.5 "Microsoft YaHei","Hiragino Sans GB";
}

.modxinxi {
	margin-top: 10px;
}
.modxinxi span{
	margin-right: 20px;
}
.modjindu {
	width: 790px;
	height: 66px;
	margin: 20px 0;
}

.modbtn {
	width: 118px;
	height: 30px;
	color: #fff;
	text-align: center;	
	line-height: 30px;
	background:url(../img/sgbtnr2_c2.gif) no-repeat;
	float: right;
}
.modbtn:link, .modbtn:visited,.modbtn:active {
    text-decoration: none;
    color: #fff;
}

/*装修施工index页面*/
.sghdleft {
	float: left;
	width: 957px;
	height: 203px;
}
.sghdleft img {
	float: left;
	width: 314px;
	height: 202px;
}
.sghd1{
	float: left;
	width: 622px;
	margin:22px 10px;
}
.sghdleft span {
	display: block;
	float: left;
	width: 100px;
	height: 23px;
	padding: 1px 4px;
	margin-right: 10px;
	color: #fff;
	line-height: 23px;
	text-align: center;
	background-color: #FB8D0D;
}
.sghdright {
	float: right;
}
.sghdinput {
	position: relative;
	width: 243px;
	height: 184px;
	background: url(../img/in2_r2_c2.gif) no-repeat;
}

.sghdname {
	position: absolute;
	top: 54px;
	left: 21px;
	width: 180px;
	height: 20px;
	line-height: 21px;
	border: 1px solid #D8D8D8;
	padding: 4px 10px;

	/* background-color: #ccc; */
}
.sghdphone {
	position: absolute;
	top: 94px;
	left: 21px;
	width: 180px;
	height: 20px;
	line-height: 25px;
	border: 1px solid #D8D8D8;
	padding: 4px 10px;
}
.sghdbtn {
	position: absolute;
	top: 134px;
	left: 22px;
	width: 200px;
	height: 25px;
	color: #FFF;
	background-color: #FB8D0D;
	font-size: 14px;
	text-align: center;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
	border: medium none;
	cursor: pointer;
	
}

.mkbox {
	float: left;
}

#roll2 {
	width: 200%;
}

#roll2 dd {
    width: 210px;
    height: 310px;
    float: left;
    margin-right: 10px;
}

.box2 {
    width: 1100px;
    height: 300px;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    overflow: hidden;
}
.mk-hot-top2 {
    width: 100%;
    float: left;
    border-bottom: medium solid #ACB20C;
    height: 30px;
}

.hot-pic-new2 {
    top: 0px;
    left: 0px;
    width: 32px;
    height: 23px;
    background: url("../img/sgs_r2_c2.png") no-repeat scroll 0% 0% transparent;
    position: absolute;
}

.biaoqian {
	margin-top: 5px;
}

.sgname2 {
	font-size: 15px;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
}



/*工长信息*/
.lisgongzhang {
	background: url("../img/gongzhang.jpg") no-repeat right;
}

.lisniwa {
	background: url("../img/niwa.jpg") no-repeat right;
}
.lismugong {
	background: url("../img/mugong.jpg") no-repeat right;
}
.lisshuidian {
	background: url("../img/shuidian.jpg") no-repeat right;
}
.lisanzhuang {
	background: url("../img/anzhuang.jpg") no-repeat right;
}
.lisyouqi {
	background: url("../img/youqi.jpg") no-repeat right;
}


.sglistone{
	width: 1198px;
	height: 270px;
}


.sginlist {
	float: left;
	width: 1198px;
	height: 680px;
	border: 1px solid #ccc;
	margin-top: 30px;
}

.sglisthd {
	position: relative;
	width: 1198px;
	height: 100px;
	background-color: #ECECEC;
	overflow: hidden;
}

.sglisthd span {
	position: absolute;
	right: 47px;
	top: 32px;
	display: block;
	width: 74px;
	height: 28px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	background-color: #FDB700;
}

.blog_left2 {
	width: 633px;
	height: 270px;
	float: left;
}
.sg-photo2 {
    padding-top: 50px;
    padding-left: 35px;
    width: 156px;
    float: left;
}
.sg-photo2 img {
    width: 137px;
	height: 160px;
    overflow: hidden;
}
.span12 {
	width: 137px;
	text-align: center;
}

.sg-blogdate2 {
    padding-left: 10px;
    float: left;
    padding-top: 53px;
}

.zxzx2 {
	position: relative;
	padding-top: 32px;
}

.zxzx2 span {
	position: absolute;
	left: 100px;
	top: 36px;
}
.blog_right2 {
	width: 565px;
	height: 270px;
	float: left;
}

.xxjieda {
	margin-top: 31px;
	padding: 15px 15px;
	width: 493px;
	height: 18px;
	background-color: #D1D0CF;
	font-size: 22px;
	font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;	
}

.jiedameu {
	width: 482px;
	height: 22px;
	padding: 3px 20px;
	border: 1px solid #fff;
	background:  url("../img/sgmu_r2_c2.png") no-repeat scroll 12px 12px #978F83 ;
	color: #fff;
}
.sidenav a:hover {
	text-decoration: none;
}

.sgcoll {
	width: 504px;
	height: 50px;
	padding: 10px;
	overflow: hidden;

}

#gotofloor {
	position: fixed;
	top: 43%;
	left: 50%;
	width: 133px;
	height: 286px;
	margin-left: 607px;
	padding: 9px 4px;
	cursor: pointer;
	text-align: center;
	border: 1px solid #E0E0E0;
	background: none repeat scroll 0% 0% #FFAF2A;

}
#gotofloor ul {
	margin-top: 18px;
}
#gotofloor ul li a{
	display: block;
	width: 117px;
	height: 40px;
	margin-left: 7px;
	color: #fff;
	border: 1px solid #fff;
	font-size: 20px;
	line-height: 40px;
	background-color: #FFC461;

}
#gotofloor ul li a:hover {
	text-decoration: none;
	color: #FFC461;
	background-color: #fff;

}


/*装修施工list*/

/* select */
.select {
	padding: 5px 10px;
	border: #ddd 1px solid;
	border-radius: 4px;
	width: 96%;
	font-size: 12px
}

.select li {
	list-style: none;
	padding: 10px 0 5px 100px
}
.select .select-list {
	border-bottom: #eee 1px dashed
}
.select dl {
	zoom: 1;
	position: relative;
	line-height: 24px;
}
.select dl:after {
	content: " ";
	display: block;
	clear: both;
	height: 0;
	overflow: hidden
}
.select dt {
	width: 100px;
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	left: -100px;
	text-align: right;
	color: #666;
	height: 24px;
	line-height: 24px
}
.select dd {
	float: left;
	display: inline;
	margin: 0 0 5px 5px;
}
.select a {
	display: inline-block;
	white-space: nowrap;
	height: 24px;
	padding: 0 10px;
	text-decoration: none;
	color: #7D7676;
	border-radius: 2px;
}
.select a:hover {
	color: #f60;
}
.select .selected a {
	color: #fff;
	background-color: #f60
}
.select-result dt {
	font-weight: bold
}
.select-no {
	color: #999
}
.select .select-result a {
	padding-right: 20px;
	background: #f60 url("../img/close.gif") right 9px no-repeat
}
.select .select-result a:hover {
	background-position: right -15px;
}


/*list*/

.blist{
    width: 522px;
    height: 270px;
}

.zgsclc_koubei {
    float: left;
    width: 223px;
    height: 135px;
    margin-top: 54px;
    border-left: 1px dotted #E6E6E6;

}

.zgsclc_koubei span {
    float: left;
    width: 100%;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-top: 30px;
    display: inline;
}

.zgsclc_koubei a {
    float: left;
    width: 100%;
    height: 32px;
    line-height: 32px;
    color: #F26F20;
    font-family: Arial;
    text-align: center;
    font-size: 38px;
    margin-top: 8px;
}

.zgsclc_koubei_hp {
    font-size: 12px;
    color: #999;
    margin-top: 15px;
}

.blist_koubei {
    width: 224px;
    height: 270px;
    float: left;
}
.binlist {
    float: left;
    width: 1198px;
    border: 1px solid #CCC;
    margin-top: 30px;
}
.blistright2 {
    width: 320px;
    float: right;
    padding: 40px;
}
.blistone {
	width: 790px;
	float: left;
}



.blistone li {
	width: 790px;
    height: 270px;
    margin: 0px 23px;
    border-bottom: 1px dashed rgb(219, 215, 214);
}

.blistfy{
	width: 790px;
	float: left;
}

.blog_right22 {
	width: 258px;
	height: 429px;
	float: right;
	border: 1px solid #DBD7D6;
	padding: 5px;
	margin: 32px 0;

}

.blog_right22 h1 {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    position: relative;
}
.sg-r-bg2 {
    position: absolute;
    right: -4px;
    bottom: -419px;
}
.pic-text {
	padding: 2px 3px;
	width: 253px;
    height: 63px;
    line-height: 17px;
}

.pic-text div {
    float: left;
    margin: 0px 10px 0px 0px;
}
.pic-text img {
	width: 76px;
	height: 54px;
}
.pic-text h4 {
	font-size: 14px;
	color: #FF6382;
	line-height: 22px;
	padding: 0px 0px 4px;
	height: 17px;
	overflow: hidden;
}
.pic-text p {
    clear: none;
    color: #A0A0A0;
    overflow: hidden;
	height: 33px;
}
.mod3 {

	width: 1159px;
	padding: 20px;
	border:  1px solid #DBD7D6;
}
.mod2 {

	width: 1119px;
	padding: 40px;

}

.modli2 {
    margin: 0px 25px;
    width: 1116px;
    height: 265px;

}


/*装修问答主页*/	

/*装修问答导航*/
.wdnav {
	width: 193px;
	overflow: hidden;
	border: 1px solid #E6E6E6;
}

.wdnav h1 {
	font-size: 14px;
	font-weight: bold;
	padding: 20px 10px 5px 10px;
	background: url(../img/jiantou_r2_c2.gif) no-repeat 174px 28px;
	border-bottom: 1px solid #EDEDED;
}
.wdnav_nav {
	padding: 10px 0 10px 10px;
	overflow: hidden;

}
.wdnav_nav a {
	display: block;
	float: left;
	padding:0px 12px 0 0;
	color: #808080;
}


.wdmainr {
	width: 986px;
}
/*装修问答搜索*/
.wdsearch {
	height: 100px;
}
.wdsearch h6{
	margin-bottom: 10px;
}
.wdsearch input {
	width: 652px;
	height: 40px;
	-moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    border-radius:5px;            
	border: 1px solid #D8D8D8;
	padding: 4px 20px;
	font-size: 15px;
	float: left;
}

.wdsearch span {
	display: block;
	width: 118px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	float: left;
	margin-left: 20px;
	margin-top: 7px;
	background: url(../img/sgbtnr2_c2.gif) no-repeat;
	color: #fff;
}

.wdmain_h1 {
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #BDBCBC;
	margin-bottom: 8px;
}

.wdques {
	width: 986px;
	height: 390px;
}

.wdques_1 {
	width: 191px;
}
.wdques_1 img {
	width: 191px;
	height: 158px;
	margin-bottom: 10px;
}
.wdques_2 {
	width: 420px;
	
}
.wdques_2 li {
	height: 37px;
	padding-right: 20px;
	line-height: 37px;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}

.wdques_2 li span {
	margin: 0 30px;
	font-size: 16px;
	font-weight: bold;
	font-family: "宋体";
}
.wdques_2 .first {
	height: 65px;
	background-color: #FB9D2D;
	color: #fff;
}
.wdques_2 .first i {
	color: #fff;
	font-weight: bolder;
}
.wdques_2 .first a {
	color: #fff;
}
.wdques_2 .first p {
	margin: -8px -2px 0px 104px;
	width: 300px;
	height: 28px;
	overflow: hidden;
	float: left;
	line-height: 14px;
}
.wdques_3 {
	width: 350px;
	margin-left: 20px;
}
.wdques_3 li  { 
	float: left;
	margin-bottom: 16px;}
.wdques_3 img {
	width: 130px;
	height: 100px;
	float: left;
}
.wdques_3 div, .wdques_3 p {
	width: 183px;
	float: left;
	margin: 5px 10px 0;
}
.wdques_3 div {
	height: 20px;
	overflow: hidden;
}
.wdques_3 p {
	height: 62px;
	color: #A0A0A0;
	overflow: hidden;
	margin-bottom: 8px;
}
.wdques_4 {
	width: 350px;
	height: 370px;
	float: left;
}



.jiedameu5 {
    width: 309px;
    height: 30px;
    padding: 3px 10px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #7F7F7F;
    overflow: hidden;
    line-height: 30px;
}
.jiedameu4 {
    width: 309px;
    height: 30px;
    padding: 3px 10px;
    border: 1px solid #FFF;
    background: #978F83;
    color: #FFF;
    overflow: hidden;
    line-height: 30px;

}

.wdcoll {
    width: 309px;
    height: 56px;
    padding: 10px;
    background: #E6E6E6;
    overflow: hidden;
    line-height: 21px;
}




.wdques_5 {
    float: left;
    width: 340px;
    height: 370px;
    margin-left: 15px;
}
.wdques_5 li {
    height: 37px;
    padding-right: 20px;
    line-height: 37px;
    border-bottom: 1px solid #DDD;
    overflow: hidden;
}

.wdques_5 li span {
    margin: 0px 30px;
    font-size: 16px;
    font-weight: bold;
    font-family: "宋体";
}

.wdques_6 {
	float: left;
	width: 235px;
	height: 370px;
	margin-left: 15px;
}
.wdquesli {
	width: 215px;
    height: 31px;
    padding: 3px 10px;
    overflow: hidden;
    line-height: 30px;
    border-top:1px dashed #ccc;
    background:#EEEEEE;
}
.wdquesliimg{
    background:#EEEEEE;	
}
.wdquesliimg img{
	width: 190px;
	height: 144px;
	padding: 0px 22px;
}
/* 问答列表页 */
.wdleft {
	width: 890px;
	float: left;
}

/* 筛选模块开始 */
.mod_tab .mod_tab_hd {
    height: 43px;
    background-color: #F8F8F8;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #eee;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
}

.mod_tab_hd ul {
    width: 721px;
}
.mod_tab .mod_tab_hd li {
    float: left;
    border-right: 1px solid #E8E8E8;
}
.ask_classtab .mod_tab_bd {
    padding: 15px 15px 5px;
}
.mod_tab .mod_tab_hd li.active a {
    background-color: #FFF;
    border-top: 2px solid #01AF63;
    margin-top: -1px;
    color: #01AF63;
}
.mod_tab .mod_tab_hd li a {
    display: block;
    padding: 0px 23px;
    height: 43px;
    line-height: 43px;
    font-size: 14px;
    color: #333;
    text-decoration: none !important;
}
.ask_classtab .class_lnk {
    display: inline-block;
    padding: 0px 8px;
    height: 18px;
    line-height: 18px;
    color: #666;
    margin-bottom: 10px;
    margin-right: 15px;
}
.mod_tab .mod_tab_bd {
    border: 1px solid #E8E8E8;
}


.pane-wrapper > .active, .pane-wrapper > .prev, .pane-wrapper > .next {
    display: block;
}
.pane-wrapper > div {
    display: none;
}
/* 筛选模块结束 */


/* 排序模块开始 */
.mod_sort {
    border-bottom: 1px solid #EEE;
    height: 35px;

}
.mod_sort .sort_type {
    float: left;
    margin-top: 8px;
}
.mod_sort .sort_type li {
    float: left;
    padding-bottom: 8px;
    margin-right: 25px;
}
.mod_sort .sort_type li.on a {
    color: #01AF63;
}
.ask_classtab {
    margin-bottom: 14px;
}
.mod_tab {
    overflow: hidden;
}
.mod_sort .sort_state {
    float: right;
    width: 75px;
    border-width: 1px 1px medium;
    border-style: solid solid none;
    border-color: #eee;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    position: relative;
}
.mod_sort .sort_state_hover {

	border-color: #eee;
	}
.mod_sort .sort_state a {
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.sort_state a {
	text-decoration: none;
}


.mod_sort .sort_state .state_list {
    display: none;
    position: absolute;
    left: -1px;
    top: 32px;
    width: 75px;
    border-width: medium 1px 1px;
    border-style: none solid solid;
    border-color: #eee;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    background-color: #FFF;
}
.mod_sort .sort_state a {
    display: block;
    height: 32px;
    line-height: 32px;
    text-align: center;
}

.triangle_down, .triangle_up {
    width: 9px;
    height: 5px;
    vertical-align: middle;
    margin-left: 3px;
    display: inline-block;
}


.triangle_down {
	background: url(../img/9901.png) no-repeat scroll 0 -55px;
}

.triangle_up {
	background: url(../img/9901.png) no-repeat scroll 0 -61px;
}

/* 排序模块结束 */

/* 问答列表模块开始 */
.question_list li {
    border-bottom: 1px dotted #E8E8E8;
    padding: 20px 0px 28px;
}
.question_list .question_hd {
    height: 20px;
    line-height: 20px;
}
.question_list .question_bd {
    width: 100%;
    margin: 14px 0px 8px;
}
.ect {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.ect span {
	color: #fff;
	background-color: #FB8D0D;
	margin-right: 5px;
	padding: 0 5px;
}
.ect em {
	color:#FB8D0D;
}
.ico_gou{
	display: inline-block;
	width: 11px;
	height: 16px;
	background: url(../img/9901.png) no-repeat scroll  0px -66px ;

}
.question_list .question_ft {
    color: #999;
}
.col_l {
    float: left;
}
.col_r {
    float: right;
}
/* 问答列表模块结束 */


.wdright {
	width: 270px;
	float: right;
}

/* 提问框模块 */
.ask_path {
    background-color: #F8F8F8;
    padding: 0 0 20px;
    margin-bottom: 20px;
}
.ask_path .path_hd {
    font-size: 14px;
    padding-bottom: 15px;
    color: #999999;
}
.ask_path .path_area {
    position: relative;
}
.ask_path .path_area textarea {
    width: 248px;
    border: 1px solid #E8E8E8;
    background-color: #FFF;
    padding: 7px 10px;
    height: 107px;
}
.ask_path .path_area .path_lbl {
    color: #BBB;
    position: absolute;
    top: 7px;
    left: 10px;
}
.ask_path .path_ft {
    color: #999;
    line-height: 32px;
    margin-top: 10px;
}
.ask_path .path_ft .path_btn {
    display: inline-block;
    width: 68px;
    height: 32px;
    text-align: center;
    color: #FFF;
    background-color: #FB8D0D;
    float: right;
    font-size: 14px;
    border: medium none;    cursor: pointer;
}
.path_btn {
	text-decoration: none !important;
}

/* 提问框模块end */

/*zxwdpage*/
/*问题begin*/
.ask_qustion {
    position: relative;
    border: 1px solid #E8E8E8;
    padding: 18px;
}

.ask_qustion h2 {
    color: #333;
    font-size: 18px;
    padding-bottom: 10px;
    font-weight: normal;
}
.ask_qustion_people {
    color: #999;
}
.mtb10 {
    margin: 10px auto;
}
.ask_solved {
    word-break: break-all;
    word-wrap: break-word;
}
.ask_qustion_people span {
    margin: 0px 20px;
    color: #EEE;
}

.ico_green_ask {
    background: transparent url("../img/9901.png") no-repeat scroll 0px 0px;
    width: 33px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: -1px;
}
/*问题end*/
h1.title {
    font-weight: 100;
    color: #333;
    font-size: 20px;
    padding: 20px 0px;
    border-bottom: 1px solid #EEE;
}

.ask_answer_li {
    padding: 20px 0px;
    border-bottom: 1px dashed #E8E8E8;
}

.ask_answer_li ul {
    padding: 0px 0px 20px;
}

.ask_answer_li ul li {
    position: relative;
}
.ask_btn_reply a {
    color: #999;
}
.ask_btn_reply i {
    margin-right: 5px;
}
.ico_praise_no,.ico_comment{
	    background: transparent url(../img/9901.png) no-repeat scroll 0% 0%; display: inline-block;
}
.ico_comment {
    background-position: 0px -44px;
    width: 12px;
    height: 11px;
    vertical-align: middle;
}
.ico_praise_no {
    background-position: -12px -44px;
    width: 12px;
    height: 11px;
    vertical-align: middle;
}

.company_img {
    display: block;
    width: 54px;
    height: 54px;
    border: 1px solid #EDECEC;
    float: left;
    margin-right: 10px;
}
.company_detail {
    float: left;
    width: 823px;
}
.company_name {
    display: inline-block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 10px;
    color: #01AF63;
}
.company_case {
    color: #999;
}
.company_case b {
    font-weight: 100;
}
.company_case span {
    margin: 0px 20px;
    color: #EEE;
}
.company_case .time {
    text-align: right;
    float: right;
}
.ask_one_p {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 10px;
}
.bg_f8f8f8 {
    background: #F8F8F8 none repeat scroll 0% 0%;
    position: relative;
}
.mtb10_ptl20 {
    margin-top: 10px;
    padding: 20px 0px 0px 20px;
}

.ask_textarea_h60 {
    width: 828px;
    padding: 10px;
    min-height: 80px;
    margin: 10px 0px;
    border: 1px solid #EEE;
    color: #BBB;
    background: #FFF none repeat scroll 0% 0%;
}
.insert_img {
    position: relative;
}
.insert_img_modle {
    line-height: 32px;
    color: #999;
    position: relative;
}
.ptbr20 {
    padding: 20px 20px 20px 0px;
}
.ask_btn_reply .col_r {
    width: 50%;
    text-align: right;
}
.col_r {
    float: right;
}
input.btn_green {
    display: inline-block;
    height: 28px;
    color: #FFF;
    background-color: #FB8D0D;
    border: medium none;
    cursor: pointer;
    padding: 0px 20px;
}



/* zxxwlist新闻列表 */
.xwlist {
	width: 100%;
	border:1px solid #DFDFDF;
}
.xwlist_u li {
	margin: 20px;
	height: 185px;
	border-bottom: 1px solid #DFDFDF;
}
.xwlist_u img {
	width: 200px;
	height: 160px;
	float: left;
}
.wxlist_c {
	width: 610px;
	height: 160px;
	margin-left: 20px;
	overflow: hidden;
	float: left;
}
.wxlist_c h1 {
	font-weight: bold;
	margin: 15px 0;

}
.wxlist_c p {
	width: 610px;
	height: 62px;
	overflow: hidden;
	color: #999999;
}
.wxlist_c_a {
	display: block;
	width: 93px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	margin-top: 20px;
	background: #EAEAEA;
}

/*新闻详情*/
.article_title{
	border-bottom: 1px solid #DFDFDF;
	margin: 0px 40px;
}
.article_title h1 {
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    font-size: 20px;
    font-family: "微软雅黑","黑体";
    font-weight: normal;
    text-align: center;
    margin: 0px;
}
.article_title p {
    text-align: center;
    font-size: 12px;
    color: #777;
    margin: 10px 0px 15px;
}
.article_content {
	line-height: 22px;
	padding: 40px 47px 20px;

}

/* 翻页样式 */
.pagination { display: inline-block; margin: 0 auto;}
.pagination ul { font-size: 0; *word-spacing:-1px/*IE6、7*/; }
.pagination ul li { vertical-align: top; letter-spacing: normal; word-spacing: normal; display: inline-block; margin: 0 0 0 -1px;}
.pagination ul li { *display: inline/*IE6、7*/; *zoom:1;}
.pagination li span { font: normal 14px/20px "microsoft yahei"; color: #AAA; background-color: #FAFAFA; text-align: center; display: block; min-width: 20px; padding: 8px; border: 1px solid #E6E6E6; position: relative; z-index: 1;}
.pagination li a span , 
.pagination li a:visited span { color: #005AA0; text-decoration: none; background-color: #FFF; position: relative; z-index: 1;}
.pagination li a:hover span, .pagination li a:active span{ color: #FFF; text-decoration: none; background-color: #D93600; border-color: #CA3300; position: relative; z-index: 9; cursor:pointer;}
.pagination li span.currentpage { color: #AAA; font-weight: bold; background-color: #FAFAFA; border-color: #E6E6E6; position: relative; z-index: 2;}

/*modal弹出窗口*/
.modal-backdrop, .modal-backdrop.fade.in{opacity: 0.8;}
.modal-backdrop.fade{opacity: 0;}
.fade.in{opacity: 1;}
.modal-backdrop{position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1040; background-color: #000;}
.fade{opacity: 0; transition: opacity 0.15s linear 0s;}
.modal.fade.in{top: 10%;}
.modal.fade{top: -25%; transition: opacity 0.3s linear 0s, top 0.3s ease-out 0s;}
.fade.in{opacity: 1;}
.modal{position: fixed; top: 10%; left: 50%; z-index: 1050; width: 560px; margin-left: -280px; background-color: #FFF; border: 1px solid rgba(0, 0, 0, 0.3); border-radius: 6px; outline: 0px none; box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3); background-clip: padding-box;}
.fade{opacity: 0; transition: opacity 0.15s linear 0s;}
.modal-header{padding: 9px 15px; border-bottom: 1px solid #EEE;}
.modal-header .close{margin-top: 2px;}
.modal-header h3 {font-size: 14px;margin: 0px;line-height: 30px;}
.close{float: right; font-size: 20px; font-weight: bold; line-height: 20px; color: #000; text-shadow: 0px 1px 0px #FFF; opacity: 0.2;}
.zx_modal{width: 300px;height: 200px;margin: 10px 138px;}
.zx_modal .zxipt{margin-left: 5px;width: 180px;height: 20px;line-height: 25px;border: 1px solid #D8D8D8;padding: 4px 10px;}
.sghdbtn2{width: 202px; height: 34px; color: #FFF; background-color: #FB8D0D; font-size: 14px; text-align: center; font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu; border: medium none; cursor: pointer;}
.inner dl dt {font-size: 14px;line-height: 28px;color: #777;text-align: right;width: 60px;float: left; }
.inner dl dd { margin-left: 60px;}
.inner dd label {
    clear: both;
    float: left;
    line-height: 24px;
    height: 24px;
    width: 210px;
    margin: 0px;
}